<% provide(:title, 'New Question') %>

<div class="container add_question">
	<div class="page-header">
  	<h1>Add a question<small> Make it awesome!</small></h1>
	</div>
	<div class="row">
		<div class="span5 offset3">
			<form action="/questions" method="post">
				<label><b>Category:</b></label>
				<select name="category">
					<option value="sports">Sports</option>
					<option value="pop_culture">Pop Culture</option>
					<option value="history">History</option>
					<option value="news">News</option>
					<option value="movies">Movies</option>
				</select>
				<label><b>Question:</b></label>
				<textarea name="question" cols="30" rows="8" placeholder="e.g: Who is NOT both a Heisman Trophy winner and a former number one overall pick in the NFL draft?"></textarea>
				<label><b>Answers: </b></label>
				<span style="color:red; font-weight:bold">Correct Answer: </span><input class="answer_input" type="text" name="answer1" placeholder="Answer 1">
				<span style="font-weight:bold">Wrong Answer: &nbsp;</span><input class="answer_input" type="text" name="answer2" placeholder="Answer 2">
				<span style="font-weight:bold">Wrong Answer: &nbsp;</span><input class="answer_input" type="text" name="answer3" placeholder="Answer 3">
				<span style="font-weight:bold">Wrong Answer: &nbsp;</span><input class="answer_input" type="text" name="answer4" placeholder="Answer 4">	
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
				<input type="submit" value="Submit" class="btn btn-primary">
			</form>
		</div>
	</div>
</div>
</div>