<% provide(:title, "About us") %>

<div class="container about_us">
	<div class="page-header">
  	<h1>About Us<small> who are we?</small></h1>
	</div>
	<div class="row">
		<div class="span12">
			<img src="/assets/charles.jpg" alt="charles.jpg" class="pull-left">
			<p>Charles Hsieh is an awesome person, blah blah</p>
			<div class="clearfix"></div><br/>
			<img src="/assets/steven.jpg" alt="charles.jpg" class="pull-left">
			<p>Steven Chan is an awesome person, blah blah</p>
		</div>
	</div>
</div>