<% provide(:title, "About us") %>

<div class="container about_us">
	<div class="page-header">
  	<h1>About Us<small> who are we?</small></h1>
	</div>
	<div class="row">
		<div class="span12">
			<img src="/assets/charles.jpg" alt="charles.jpg" class="pull-left">
			<p>Blog mlkshk High Life letterpress pork belly typewriter fingerstache PBR 90's biodiesel chillwave Tonx, Wes Anderson locavore bitters. IPhone four loko Wes Anderson, pug intelligentsia gluten-free street art disrupt pickled Austin. Banjo pug Schlitz, cornhole raw denim hashtag keytar leggings gentrify twee hoodie. Umami +1 trust fund, readymade tattooed authentic Williamsburg selfies Schlitz Vice four loko beard. Before they sold out fingerstache next level pug High Life, typewriter YOLO swag ethical Neutra 90's fanny pack helvetica. Viral aesthetic flannel Terry Richardson ennui. Mustache selvage cornhole blog bicycle rights helvetica, High Life umami polaroid fingerstache.<br/><br/>Kale chips craft beer keytar, tattooed deep v selvage dreamcatcher put a bird on it seitan leggings 90's before they sold out quinoa pop-up flannel. Mixtape meh banjo literally, ennui locavore beard Neutra forage try-hard blue bottle bitters bespoke pork belly mumblecore. Schlitz farm-to-table flannel authentic. Leggings sustainable biodiesel retro, Carles banh mi sriracha iPhone whatever Truffaut tousled dreamcatcher farm-to-table ennui chambray. Asymmetrical quinoa forage next level. Fap sriracha cornhole gentrify Etsy brunch, tousled mlkshk roof party cliche chillwave Terry Richardson whatever 90's. Godard tofu ugh try-hard shoreditch messenger bag.</p>
			<div class="clearfix"></div><br/>
			<img src="/assets/steven.jpg" alt="charles.jpg" class="pull-left">
			<p>Blog mlkshk High Life letterpress pork belly typewriter fingerstache PBR 90's biodiesel chillwave Tonx, Wes Anderson locavore bitters. IPhone four loko Wes Anderson, pug intelligentsia gluten-free street art disrupt pickled Austin. Banjo pug Schlitz, cornhole raw denim hashtag keytar leggings gentrify twee hoodie. Umami +1 trust fund, readymade tattooed authentic Williamsburg selfies Schlitz Vice four loko beard. Before they sold out fingerstache next level pug High Life, typewriter YOLO swag ethical Neutra 90's fanny pack helvetica. Viral aesthetic flannel Terry Richardson ennui. Mustache selvage cornhole blog bicycle rights helvetica, High Life umami polaroid fingerstache.<br/><br/>Kale chips craft beer keytar, tattooed deep v selvage dreamcatcher put a bird on it seitan leggings 90's before they sold out quinoa pop-up flannel. Mixtape meh banjo literally, ennui locavore beard Neutra forage try-hard blue bottle bitters bespoke pork belly mumblecore. Schlitz farm-to-table flannel authentic. Leggings sustainable biodiesel retro, Carles banh mi sriracha iPhone whatever Truffaut tousled dreamcatcher farm-to-table ennui chambray. Asymmetrical quinoa forage next level. Fap sriracha cornhole gentrify Etsy brunch, tousled mlkshk roof party cliche chillwave Terry Richardson whatever 90's. Godard tofu ugh try-hard shoreditch messenger bag</p>
		</div>
	</div>
</div>