<% provide(:title, 'Play Game!') %>
<% content_for :javascript do %>
<script>
$(document).ready(function() {

	var score = 0;
	var index = 0;
	var count = <%= @count %>;

	function outputQuestion() {
		if (index == count) {
			$('#question').html("<h3>Final score: " + score + "/" + count + "</h3>");
		} else {
			$('#question_index').val(index);
			var form = $('#question_form');
			$.post(form.attr('action'), form.serialize(), function(data) {
				$('#question_content').html(data.question.content);
				for (var i = 0; i < 4; i++) {
					var answer = data.answers[i];
					$('#answer_input' + i).val(answer.id);
					$('#answer_content' + i).html(answer.content);
				}
			});
			$('#notification').empty();
			$('#notification').removeClass("alert alert-success alert-error");
			attachAnswerEvents();
		}
	}

	function attachAnswerEvents() {
		$('.answer').css('opacity', 1);
		$('.answer').on({
			click: function() {
				checkAnswer($(this));
			},
			mouseenter: function() {
				$(this).css({
					opacity: .5,
					cursor: 'pointer'
				});
			},
			mouseleave: function() {
				$(this).css('opacity', 1);
			}
		});
	}

	function checkAnswer(element) {
		$('.answer').off().css('cursor', 'auto');
		var form = element.children();
		$.post(form.attr('action'), form.serialize(), function(data) {
			if (data) {
				score++;
				$('#notification').addClass("alert alert-success");
				$('#notification').html("Correct!");
			} else {
				$('#notification').addClass("alert alert-error");
				$('#notification').html("Wrong Answer!");
			}
		});
	}

	$('#next').click(function() {
		index++;
		outputQuestion();
	});
	
	outputQuestion();

});
</script>
<% end %>

<div class="container">
	<div class="row">
		<div class="span7 offset2">
			<h1><%= @category %> Trivia Game</h1>
			<div id="question">
				<form id="question_form" action="/games/get_question" method="post">
					<input type="hidden" name="authenticity_token" value="token_value">
					<input id="question_index" type="hidden" name="index">
				</form>
				<h3 id="question_content"></h3>
				<% (0..3).each do |i| %>
					<div class="answer alert alert-info span4">
						<form action="/games/check_answer" method="post">
							<input type="hidden" name="authenticity_token" value="token_value">
							<input id="answer_input<%= i %>" type="hidden" name="answer">
							<p id="answer_content<%= i %>"></p>
						</form>
					</div>
				<% end %>
				<button id="next" class="btn btn-primary">Next Question</button>
				<h4 id="notification" class="span4 alert-block"></h4>
			</div>
		</div>
	</div>
</div>
