<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>User Feedback</h1>
    <p><b>Name:</b> <%= @name %></p>
    <p><b>Email:</b> <%= @email %></p>
    <p><b>Feedback Type:</b> <%= @type %></p>
    <p><b>Message:</b> <%= @message %></p>
    <br/>
    <br/>
    <p>TriviaDojo Feedback</p>
  </body>
</html>