<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for submitting a question!</h1>
    <p><b>We will notify you once your question is approved, here is your question:</p>
    <p><b>Category</b><%= @category %></p>
    <p><b>Question:</b><br/><%= @question %></p>
    <p><b>Answer:</b></p>
    <ol>
      <% @answer.each do |a| %>
      <li><%= a %></li>
      <% end %>
    </ol>
    <br/>
    <p>Thank you so much for being a part of the TriviaDojo community, we are here because of you!  Please continue to contribute and use TriviaDojo as your destination for trivia and custom quizzes.</p>
    <br/>
    <br/>
    <p>TriviaDojo Feedback</p>
  </body>
</html>