@import "bootstrap";
@import "bootstrap-responsive";


/* UNIVERSAL
-------------------------------------------------- */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* NAVIGATION BAR
--------------------------------------------*/
.navbar {
	.brand {
	  padding: 14px 20px 16px 70px;
	  font-size: 35px;
	  font-weight: bold;
	  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	}
	.nav li a {
		padding: 15px 20px;
    font-size: 1.1em;
	}
  .divider-vertical {
    height: 50px;
  }
  .navbar-form {
    margin-top: 5px;
  }

  .dropdown-menu li  a {
    padding: 5px 15px;
  }
}

/* HOME PAGE
-------------------------------------------------- */

/* CUSTOMIZE THE CAROUSEL */

.carousel {
	margin-top: -20px;
  margin-bottom: 50px;
  .container {
    position: relative;
    z-index: 9;
  }

  .item {
    height: 500px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 150px;

  h1, .lead {
    text-shadow: 0 0 15px #202020;
    margin: 0;
    line-height: 1.25;
    color: #fff;
  }

  .btn {
    margin-top: 10px;
  }
}

/* HOME MODULE */

.home_module p span {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

/* SIGN UP & SIGN IN
-------------------------------------------------- */

.sign_up .sign_in {
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
} 

/* ABOUT PAGE
-------------------------------------------------- */

#about {
  background: #505050;
}

.about_us .row  {
  .span12 {
    margin: 0px 30px;
    box-shadow: 8px 8px 5px #888888;
    p {
      margin: 10px 0px;
    }
    img {
      margin: 10px 10px;
      height: 180px;
    }
  }
}

/* QUESTION CREATE PAGE
-------------------------------------------------- */
.answer_input {
  width: 75%;
}



/* FOOTER
-------------------------------------------------- */

footer{
  margin-top:60px;
}

/* GAMES PLAY PAGE
-------------------------------------------------- */

#game_title {
  margin-bottom: 20px;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #bbb;
}

#question {
  clear: both;
}

form {
  margin: 0px;
}
